<!-- Load an icon library to show a hamburger menu (bars) on small screens -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav" id="myTopnav">
  <a class="active" routerLink="/">Home</a>
  <a routerLink="/articles/create">Create Article</a>
  <a routerLink="/recipes/create">Create Recipe</a>
  <a routerLink="/admin/articles">Admin Articles</a>
  <a routerLink="/admin/recipes">Admin Recipes</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
  <h3>The culinary blog</h3>
</div>
